%section.ten-oh-announcement
  .ten-oh-label
    %span 11.0
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              In this month’s release of GitLab 11.0, we've made Auto DevOps generally available, added License Management, SAML SSO for Groups, open source Squash and Merge, and much more!
            .btn-group
              %a.btn.cta-btn.btn-white{href: "/2018/05/22/gitlab-10-8-released/"}
                See what’s new
