%a.hello-bar.animated.hello-bar-dark{ href: '/2018/06/22/gitlab-11-0-released/' }
  .hello-bar-content
    -# = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
    %p
      GitLab 11.0 released with Auto DevOps generally available, License Management, SAML SSO for Groups, open source Squash and Merge, and much more!
