---
title: DevOps Discussion with Gary Gruver
description: An insightful discussion on the details of a DevOps transformation
suppress_header: true
extra_css:
  - styles-2018.css
  - webcast.css
---

.wrapper
  .webcast-header
    %img{ src: "/images/webcast/devops-pipeline-bug.svg" }
    .webcast-info
      %h1 DevOps Discussion with Gary Gruver
      %p An insightful discussion on the details of a DevOps transformation
  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 August 2, 9am PT / 4pm UTC
            %p Deciding to start a DevOps transformation is the first step in eliminating inefficiencies and improving efficiency, but how do teams proceed?
            %p Join Gary Gruver, author of Starting and Scaling DevOps in the Enterprise, as he shares his experience consulting with organizations to successfully adopt a DevOps model. He’ll offer advice on the influencers who should be involved in discussions and pinpoint the areas were a transformation should begin.

          .content-section
            %h3 In this discussion, we’ll cover:
            %ul
              %li The most common DevOps concerns
              %li How enterprises can get started with DevOps
              %li Key players in the transformation
            %p
              If you haven’t read Starting and Scaling DevOps in the Enterprise by Gary Gruver, pick up your
              %a{ href: "/resources/scaling-enterprise-devops/" }free copy
              before the webcast.
          .content-section
            %h3 About the speaker
            .author-headshot.gary-gruver
            .author-info.flex-container
              %p.author-name Gary Gruver
              %a{ href: "https://garygruver.com/", target: "_blank" }
                %p  garygruver.com
            %p.author-description Gary Gruver is a consultant that spends his time running workshops with large organizations to help them transform their software development and delivery processes.  He is the author of Starting and Scaling DevOps in the Enterprise and co-author of two other books:  Leading the Transformation: Applying Agile and DevOps principles at Scale and A Practical Approach to Large Scale Agile Development: How HP Transformed LaserJet FutureSmart Firmware.  He is also an experienced executive with a proven track record of transforming software development and delivery processes in large organizations.  First as the R&D director of the LaserJet FW group that completely transformed how they developed embedded FW.  Then as VP of QA, Release, and Operations at Macy’s.com leading the journey toward Continuous Delivery.

        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1592
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1592, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional webcast details.
