%ol.list
  - data.engineering_areas.select{|i| i.dev_ops == dev_ops && i.stage == stage }.each do |a|
    %li
      %b.pm= "#{a.name} - #{a.pm}"
      %ul
        - a.categories&.each do |c|
          %li.category= c.name
          %ul
            - c.features&.each do |f|
              %li.feature= f