---
layout: default
title: Join the GitLab community of resellers
description: "Differentiate yourself from your competition in the applications toolspace with GitLab's Reseller Program"
suppress_header: true
extra_css:
  - tiered-resellers.css
  - row-collapse.css
extra_js:
  - row-collapse.js
---
- tiered_resellers = data.tiered_resellers

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/dotted-world-map.svg"
    .container
      .header-container-content
        .row
          .col-md-10.col-md-offset-1
            %h1 Join the GitLab community of resellers
            %p.intro.text-center Our program is designed to provide you with the tools and assistance to succeed in your market by differentiating yourselves from your competition in the applications toolspace. Complete our trainings, and be able to leverage our brand in your marketplace. Advance through our program to achieve greater assistance and financial reward.

        .row
          .col-md-6.col-md-offset-3
            %h3 Program levels
            %p Our program is designed to to recognize and encourage each community member's investment in developing a GitLab business.
            %a.btn.cta-btn.purple-reverse{ href: "#form" }Apply today

  .content-container
    .wrapper.container{role: "main"}
      - tiered_resellers.each do |level|
        %input.tab-select-input{ id: "#{level.name}", type: "radio", name: "reseller-level", checked: (true if level.name == 'authorized'), class: "tab-#{level.name}", aria: { label: level.title } }
        %label.tab-item{ for: level.name }
          = level.title


      .row.comparison-table-header
        - tiered_resellers.each do |level|
          .col-md-4.level-column{ class: "#{level.name}-col" }
            .level-title.text-center
              = level.title

      .row.comparison-table-body.section-group
        - tiered_resellers.each do |level|
          .col-md-4.level-column{ class: "#{level.name}-col" }
            .level-badge.text-center
              = partial level.badge
              %p
                = level.overview

      .row
        .col-md-12.text-center
          %h2.divider-heading
            %span Requirements

      .row.comparison-table-body.section-group.section-start
        - tiered_resellers.each do |level|
          .col-md-4.level-column{ class: "#{level.name}-col" }
            - if level['requirements-title'].present?
              %h3.level-group-title
                = level['requirements-title']
            .item-group
              - if level['requirements'].present?
                %ul.item-group-list
                  - level['requirements'].each do |requirement|
                    %li.item-group-item
                      = requirement

      .row
        .col-md-12.text-center
          %h2.divider-heading
            %span Benefits

      .row.comparison-table-body.section-start
        - tiered_resellers.each do |level|
          .col-md-4.level-column.js-row-collapse-col{ class: "#{level.name}-col" }
            - if level['benefits-title'].present?
              %h3.level-group-title
                = level['benefits-title']
            = partial "item-group", locals: { level: level, title: "Branding", key: "branding-benefits" }

      = partial "benefit-group", locals: { levels: tiered_resellers, title: 'Communications', key: 'communications-benefits' }
      = partial "benefit-group", locals: { levels: tiered_resellers, title: 'Opportunity Assistance', key: 'opportunity-assistance-benefits' }
      = partial "benefit-group", locals: { levels: tiered_resellers, title: 'Events', key: 'events-benefits' }
      = partial "benefit-group", locals: { levels: tiered_resellers, title: 'Technical Enablement', key: 'technical-enablement-benefits' }
      = partial "benefit-group", locals: { levels: tiered_resellers, title: 'Remuneration', key: 'remuneration-benefits' }

  #form.form-content-container
    .container
      %h2.centered-form-title Join our community of GitLab Resellers, apply today.
      %p.centered-form-title If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
      .centered-form
        %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
        %form#mktoForm_1504
        :javascript
          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1504, function(form) {
            form.onSuccess(function() {
              form.getFormElem().hide();
              $('.confirmform').attr('style', 'visibility: visible');
              return false;
            });
          });
    .confirmform{style: "visibility:hidden;"}
      .col-md-4.col-md-4.col-md-offset-1
        %h3.centered-form-title Thank you for interest!
        %p.centered-form-title We will be contacting you soon to discuss next steps. 
